@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50 text-slate-900 antialiased font-sans;
}

.main-container {
  @apply min-h-screen flex flex-col;
}

.page-container {
  @apply w-full px-4 sm:px-6 lg:px-12 py-10 flex-1;
}
