@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 6rem;
  --map-accent: #f59e0b;
  --map-accent-rgb: 245, 158, 11;
}

body {
  @apply bg-zinc-50 text-slate-900 antialiased font-sans;
}

.main-container {
  @apply min-h-screen flex flex-col;
}

.page-container {
  @apply w-full px-4 sm:px-6 lg:px-12 pt-0 pb-10 flex-1;
}
