@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

.main-container {
  @apply min-h-screen flex flex-col;
}

.page-container {
  @apply max-w-6xl mx-auto w-full px-4 sm:px-6 lg:px-8 py-8 flex-1;
}
